body {
  min-height: 100vh;
  color: #fff;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.App {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 100vh; 
padding: 1rem 0.5rem;
font-family: 'Be Vietnam Pro', sans-serif;
}

.ContainerLogin {
  position: relative;
  margin-left: 40px;
}

.section-class {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0,0,0,0.4);
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  font-family: 'Be Vietnam Pro', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a, a:visited {
  color: #fff;
  font-family: 'Be Vietnam Pro', sans-serif;
}

input[type="text"],
input[type="password"],
button,
textarea {
font-size: 15px;
padding: 0.20rem;
border-radius: 0.5rem;
font-family: 'Be Vietnam Pro', sans-serif;
}

label,
button {
margin-top: 1rem;
font-family: 'Be Vietnam Pro', sans-serif;
border: none;
outline: none;
}

button {
padding: 0.5rem;
font-family: 'Be Vietnam Pro', sans-serif;
border: none;
outline: none;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: #29F5A6;
  margin-left: 0.25rem;
}

.invalid {
  color: #fc00df;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.btn-signUp {
  background: linear-gradient(to right, #d001ff 0%, #fc00df 100%);
  cursor: pointer;
  width: 140px;
  margin-top: 30px;
  font-weight: 600;
  border: none;
  outline: none;
}

.register {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right,  #29F5A6 , #03f6e6 25% );
  background-color: #242423;
  font-size: 25px;
}

.ourProducts {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right,  #29F5A6 , #03f6e6 25% );
  background-color: #242423;
  font-size: 18px;
  cursor: pointer;
}

