.Product-container {
  position: relative;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.Product-img {
  width: 400px;
  height: 450px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 0px 2px 4px rgba(3, 246, 230, 0.5);
  z-index: 1;
}

.title_product {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #fc00df, #ee2b91);
  background-color: black;
  font-size: 30px;
  margin-right: 40px;
}

.title_product_second {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right,  #29F5A6 , rgb(3, 246, 230) );
  background-color: black;
  font-size: 40px;
}

.first-gradient {
  position: absolute;
  z-index: -1;
  width: 40%;
  height: 30%;
  right: 10px;
  bottom: 0;
  background: linear-gradient(180deg, #03f6e6 0%, #29F5A6 50%);
  filter: blur(1100px);
}


.Product-Link-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.headphone_img {
  width: 120px;
  border-radius: 10px;
  margin-right: 10px; 
  margin-top: 20px;
  cursor: pointer;
}

.headphone_img:hover {
transform: scale(1.08);
}

.Stock-Images {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1110px) {
  .Product-Link-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .Product-container {
    margin-bottom: 20px;
  }

  .title_product {
    margin-left: 0px;
  }
}

@media (max-width: 680px) {
  .Product-Link-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}