.title_product_second {
  margin-left: 80px;
}

.ContainerForChoose {
  display: flex;
  flex-direction: column;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.5;
}

.blockStar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.star-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.eos_star {
  width: 24px;
  height: 24px;
  fill:#30f4c8;
}

.eos_delivery {
  width: 24px;
  height: 24px;
  fill:#30f4c8;
  /* margin-left: 130px; */
}

.eos_delivery.car {
  /* margin-left: 150px; */
}

.ChooseColor {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 10px;

}

.price-month {
  font-size: 15px;
  margin-bottom: 20px;
}

.colors {
  margin-top: 20px;
}

.choose-color {
  padding: 20px 25px;
  background-color: aqua;
  color: rgb(9, 9, 9);
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}

.choose-color.second {
 border: 1px solid black;
 color: #000000;
 background-color: #000000;
 background-image: radial-gradient(circle at center, #626262 100%, transparent 100%);
 background-size: 100% 50%;
 background-repeat: no-repeat;
}

.choose-color.first {
  border: 1px solid black;
  color: black;
  background-color: black;
  background-image: radial-gradient(circle at center, #fa00f2 100%, transparent 100%);
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.choose-color.fourth {
  border: 1px solid black;
  color: #fff;
  background-color: #fff;
  background-image: radial-gradient(circle at center, #a09e9e 100%, transparent 100%);
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.choose-color.third {
  border: 1px solid black;
  color: #12083c;
  background-color: #12083c;
  background-image: radial-gradient(circle at center, #4019ed 100%, transparent 100%);
  background-size: 100% 50%;
  background-repeat: no-repeat;
} 

.choose-color.fifth {
  border: 1px solid black;
  color: #ffffff;
  background-color: #ffffff;
  background-image: radial-gradient(circle at center, #fa00f2 100%, transparent 100%);
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.btn-Container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-left: -70px;
}

.btn-buy.productItem {
  padding: 10px 20px;
}


.fdelivery {
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-left: 10px;
}

.fdelivery:hover {
  color: #ec3194;
}

.delivery-availability {
  text-decoration: underline;
  color: rgb(0, 254, 229);
  margin-left: 40px;
}

.delivery {
  border: 0.5px solid rgb(223, 220, 220);
  margin-right: 10px;
  margin-top: 120px;
  padding: 10px;
}

.underline {
  text-decoration: underline;
}

.delivery-returns {
  color: rgb(252, 250, 250);
  margin-left: 40px;  
}

hr {
  border: 0.5px solid rgb(223, 220, 220);
}

.btn-buy {
  cursor: pointer;
  background: linear-gradient(to right,  #29F5A6 , #03f6e6 );
  color: black;
  font-weight: bold;
  padding: 15px 40px;
  border-radius: 30px;
  border: none;
  margin-left: 80px;
  cursor: pointer;
  box-sizing: border-box;
}

.btn-buy:hover {
  color: #2d2d2d;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right,  #29F5A6 , #30f4c8 );
  background-color: #121416;
  border: 2px solid #29F5A6;
  font-weight: bold;
  cursor: pointer;
}

.btn-chooseColor {
  border-radius: 20px;
  background: linear-gradient(to right, #a400fc, #ee2b91); 
  padding: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  color: white;
}

.btn-chooseColor:hover {
  transform: scale(1.1);
  border: 0.5px solid #fff;
}

@media (max-width: 1110px) {

  .choose-color {
    padding: 20px 25px;
    background-color: aqua;
    color: rgb(9, 9, 9);
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
  }

  .description {
    margin-left: 0px;
  }

  .btn-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: -70px;
  }

  .delivery {
    margin-bottom: 40px;
    margin-top: 40px;
  }

}
