.Overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  z-index: 999;
}

.ContModal {
  position: relative;
  width: 500px;
  min-height: 100px;
  background-color: #e8e8e8;
  color: rgb(17, 17, 17);
  border-radius: 10px;
  box-shadow: rgba(3, 246, 230, 0.3) 0px 7px 29px 10px;
  padding: 20px;
}

.HeaderModal {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #4f4e4e;
}

.modalTitle {
  font-weight: 500;
  font-size: 18px;
}

.btn_close {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: black;
  border-radius: 50%;
  font-size: 20px;
  padding: 4px 7px;
  cursor: pointer;
  transition: .3s ease all;
  color: #e8e8e8;
}

.btn_close:hover {
  border: 1px solid #03f6e6;
  color: #03f6e6;
  transform: scale(1.1);
}

.headphoImg {
  width: 180px;
  height: 190px;
  border-radius: 10px;
}

.ProductImage {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn_cart {
    border: 1px solid #111415;
    cursor: pointer;
}

.btn_cart:hover {
  border: 1px solid #111415;
  background: linear-gradient(to right, #03f6e6 , #30f4c8 );
  cursor: pointer;
  transform: scale(1.08);
  transition: .3s ease all;
}