.Overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  z-index: 999;
}

.ContModalPrd {
  position: relative;
  width: 500px;
  min-height: 100px;
  background-color: #e8e8e8;
  color: rgb(17, 17, 17);
  border-radius: 10px;
  box-shadow: rgba(3, 246, 230, 0.3) 0px 7px 29px 10px;
  padding: 20px;
  background: #292929;
}

.colorTitle {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #ee2b91, #a400fc);
  background-color: #242423;
  font-size: 35px;
  cursor: pointer;
  margin-left: 60px;
}

.btn_close {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: black;
  border-radius: 50%;
  font-size: 20px;
  padding: 4px 7px;
  cursor: pointer;
  transition: .3s ease all;
  color: #e8e8e8;
}

.colorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gradientContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.Color {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.Color:hover {
  transform: scale(1.1);
}

.pink.Color {
  margin: 10px 20px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #ebb1cf;
  color: #ebb1cf;
  border: 1px solid black;
}
.pink1.Color {
  margin: 10px 20px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #ed7ab5;
  color: #ed7ab5;
  border: 1px solid black;
}
.pink2.Color {
  margin: 10px 20px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #ee4a9f;
  color: #ee4a9f;
  border: 1px solid black;
}
.pink3.Color {
  margin: 10px 20px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #ee2b91;
  color: #ee2b91;
  border: 1px solid black;
}

.white.Color {
  margin: 10px 20px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  color: white;
}
.white1.Color {
  margin: 10px 20px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(206, 204, 204);
  color: rgb(206, 204, 204);
}
.grey.Color {
  margin: 10px 20px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(73, 71, 71);
  color: rgb(73, 71, 71);
}
.black.Color {
  margin: 10px 20px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(3, 3, 3);
  color: rgb(3, 3, 3);
}

.blue.Color {
  margin: 10px 20px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #a9a1ea;
  color: #a9a1ea;
  border: 1px solid black;
}
.blue1.Color {
  margin: 10px 20px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #7565ed;
  color: #7565ed;
  border: 1px solid black;
}
.blue2.Color {
  margin: 10px 20px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #5d4aed;
  color: #5d4aed;
  border: 1px solid black;
}
.blue3.Color {
  margin: 10px 20px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #422bee;
  color: #422bee;
  border: 1px solid black;
}

.green.Color {
  margin: 10px 20px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #a4eec3;
  color: #a4eec3;
}
.green1.Color {
  margin: 10px 20px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #6aea9f;
  color: #6aea9f;
}
.green2.Color {
  margin: 10px 20px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #39e781;
  color: #39e781;
}
.green3.Color {
  margin: 10px 20px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #1fec74;
  color: #1fec74;
}

