@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600&family=Darker+Grotesque:wght@300;400;500;600;700&family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800&display=swap');

$body-color: #111415;
$primary-color: black;
$secondary-color: #29F5A6;
$tertiary-color:#ee2b91;
$quaternary-color: #a400fc;
$quinary-color: #ffffff;
$senary-color: #30f4c8;
$septenary-color: #d01ff7;
$octonary-color: #03f6e6;
$gradient-color: #cd98f5;
$background-color: #383838;

//offer container

.offer {
  background-color: $primary-color;
  width: 50%;
  padding-top: 10px;
  margin-left: 15px;
  border-radius: 10px 0 0 10px;
  color: $quinary-color;

  &-container {
    display: flex;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    border: 1px solid $secondary-color;
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;

    @media (max-width: 1110px) {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      margin-left: 40px;
      margin-right: 40px;
      border: none;
      border-radius: 10px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  &-text {
    color: $quinary-color;
    font-size: 40px;
    padding-left: 80px;
    background-color: $primary-color;

    @media (max-width: 1110px) {
      color: $quinary-color;
      font-size: 35px;
      padding-left: 50px;
      padding-right: 50px;
      background-color: $primary-color;
    }
  }

  &-btn {
    cursor: pointer;
    background: linear-gradient(to right, $secondary-color, $tertiary-color);
    color: $primary-color;
    font-weight: bold;
    padding: 15px 40px;
    border-radius: 30px;
    border: none;
    margin-left: 80px;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      color: #2d2d2d;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      background-image: linear-gradient(to right, $secondary-color, $quaternary-color);
      background-color: $body-color;
      border: 2px solid $secondary-color;
      font-weight: bold;
      cursor: pointer;
    }
  }

  @media (max-width: 1110px) {
    background-color: $primary-color;
    width: 72vw;
    margin-left: 20px;
    border-radius: 10px 10px 0 0;
    color: $quinary-color;

    &-container {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      margin-left: 40px;
      margin-right: 40px;
      border: none;
      border-radius: 10px;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    &-text {
      color: $quinary-color;
      font-size: 45px;
      margin-left: 10px;
      margin-right: 10px;
      background-color: $primary-color;
    }
  }
}

.block-photo {
  position: relative;
  width: 50%;
  background-color: $primary-color;
  padding-top: 10px;
  margin-right: 15px;
  border-radius: 0 10px 10px 0;
}

.photo-girl {
  width: 450px;
  padding-left: 0px;
  background-color: $primary-color;
  border-radius: 10px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  margin-left: 100px;

  &:hover {
    transform: scale(1.03);
    opacity: 0.9;
  }
}

.first-gradient {
  position: absolute;
  z-index: 1;
  width: 40%;
  height: 35%;
  top: 0;
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, $secondary-color 100%);
  filter: blur(123px);
}

.second-gradient {
  position: absolute;
  z-index: 1;
  width: 80%;
  height: 80%;
  bottom: 0;
  border-radius: 50%;
  background: linear-gradient(90deg, $septenary-color 0%, $quaternary-color 100%);
  filter: blur(900px);
}

.products {
  display: flex;
}

.Categoriesx {
  text-decoration: none;
}

.nav-links-short {
  list-style: none;
  padding-left: 105px;
}

.span-offer {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, $quaternary-color, $tertiary-color);
  background-color: $primary-color;
  font-size: 45px;
}

@media (max-width: 1110px) {
  .offer-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    border: none;
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;

    .span-offer {
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      background-image: linear-gradient(to right, $quaternary-color, $tertiary-color);
      background-color: $primary-color;
      font-size: 40px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .photo-girl {
    width: 350px;
    padding-left: 0px;
    background-color: $primary-color;
    border-radius: 10px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    margin-left: 50px;
  }

  .block-photo {
    position: relative;
    width: 72vw;
    background-color: $primary-color;
    padding-top: 30px;
    margin-left: 20px;
    border-radius: 0 0 10px 10px;
  }

  .offer {
    background-color: $primary-color;
    width: 72vw;
    margin-left: 20px;
    border-radius: 10px 10px 0 0;
    color: $quinary-color;

    .text-offer {
      color: $quinary-color;
      font-size: 40px;
      padding-left: 50px;
      padding-right: 50px;
      background-color: $primary-color;
    }
  }
}

.text-offer {
  color: $quinary-color;
  font-size: 40px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: $primary-color;
}
@media (max-width: 630px) {
  .photo-girl {
    width: 300px;
    padding-left: 0px;
    background-color: $primary-color;
    border-radius: 10px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    margin-left: 30px;
  }
}

// product price container

h2 {
  padding-left: 17px;
  padding-top: 70px;
  color: $quinary-color;
  font-size: 35px;
  margin-top: 50px;
  margin-left: 50px;
}

.product-price {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  flex-wrap: wrap;
  color: $quinary-color;
}

.headpho-img {
  width: 270px;
  height: 270px;
  margin-left: 18px;
  margin-top: 40px;
  border-radius: 10px;
  border: 2px solid $primary-color;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.02);
    border: 1px solid $senary-color;
  }
}

.stars-container .eos_star {
  fill: $senary-color;
  width: 15px;
  margin-right: 2px;
}

.btn-add-cart {
  border: none;
  border-radius: 30px;
  padding: 10px 40px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(to right, $secondary-color, $octonary-color);

  &:hover {
    background: linear-gradient(to right, $septenary-color 0%, $tertiary-color 100%);
    color: $quinary-color;
    font-weight: bold;
    cursor: pointer;
  }
}

.text-headphone {
  margin-left: 20px;
  margin-bottom: 20px;
}

.type-hp {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.HeadphoneText-cont {
  margin-left: 20px;
}

.js_price-tag {
  font-size: 25px;
  color: $quinary-color;
  font-weight: bold;
}

.third-gradient {
  position: absolute;
  z-index: 0;
  width: 20%;
  height: 15%;
  top: 50%;
  left: 40%;
  background: linear-gradient(180deg, $gradient-color 0%, $tertiary-color 100%);
  filter: blur(250px);
}

@media (max-width: 1110px) {
  .headpho-img {
    width: 410px;
    height: 410px;
    margin-left: 25px;
    margin-top: 40px;
    border-radius: 10px;
    border: 2px solid $primary-color;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.02);
      border: 1px solid $senary-color;
    }
  }
}

// products container

.products {
  margin-top: 50px;

  @media (max-width: 1110px) {
    width: 70vw;
    height: 70vh;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 70px;
    position: relative;
  }
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 30px;

  @media (max-width: 1110px) {
    .nav_links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      line-height: 30px;

      .dropdown-Categories {
        text-decoration: none;
        color: $primary-color;
        margin-left: 80px;
      }

      ul li ul.dropdown li {
        display: block;
      }

      ul li ul.dropdown {
        width: 100%;
        position: absolute;
        z-index: 9;
        display: none;
        left: 320px;
        top: 170px;
        font-weight: bold;
      }

      ul li:hover ul.dropdown {
        display: block;
        margin: 0;
      }
    }
  }

  @media (max-width: 898px) {
    ul li ul.dropdown {
      width: 100%;
      position: absolute;
      z-index: 999;
      display: none;
      left: 250px;
      top: 170px;
      font-weight: bold;
    }
  }
}

// navbar container

body {
  background-color: $body-color;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.logo {
  width: 90px;
  border-radius: 50px;
  transition: transform 0.2s linear;
}

.logo:hover {
  transform: scale(1.1);
  border: 1px solid $octonary-color;
}

.nav-link-logo {
  position: absolute;
  left: 40px;
  top: 20px; 
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 30px;
  margin: 0 5px;
  cursor: pointer;
}

nav ul li a {
  color: $quinary-color;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 30px;
  text-decoration: none;
}

#header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 80px;
}

@media (max-width: 1110px) {
  #header {
    width: 70vw;
    height: 70vh;
    background-color: #383838;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 70px;
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 30px;
  }

  .nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 30px;
  }

  .active.Categories {
    background: none;
    color: #fff;
  }

  .nav-link-logo {
    position: absolute;
    left: 90px;
    top: 40px; 
  }

}

  @media (max-width: 680px) {
    #header {
      width: 70vw;
      height: 80vh;
      background-color: #383838;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      margin-left: 70px;
    }
  }
  
.dropdown-Categories {
  text-decoration: none;
  color: $primary-color;
}

.nav_links a:hover {
  color: $quinary-color;
  background: linear-gradient(to right, $tertiary-color, $quaternary-color);
}

.Categories:hover {
  background: linear-gradient(to right,  $secondary-color , $octonary-color );
  color: $quinary-color;
  border-radius: 35px;
  padding: 5px 10px;
}

ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown {
  width: 100%;
  position: absolute;
  z-index: 999;
  display: none;
}

ul li:hover ul.dropdown {
  display: block;
  margin: 0;
}

.search-container {
  position: relative;
  border-radius: 10px;
  padding: 3px;
}

a .eos-icons {
  margin: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  fill: $senary-color;
}

a .eos-icons:hover {
  margin: 0;
  width: 30px;
  height: 30px;
  border-radius: 20%;
  fill: $primary-color;
}

.search-container .eos-icons-search {
  position: absolute;
  top: 6px;
  right: 6px;
  fill: $senary-color;
  width: 24px;
  height: 24px;
  font-weight: bold;
  background-color: $quinary-color;
  border-radius: 50px;
}

.eos-icons {
  background: none;
}

.nav-link-icon {
  background-color: none;
  padding-top: 10px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

li a.active,
li a:hover {
  background: $senary-color;
  transition: 0.5s;
  color: $body-color;
}

.barsIcon {
  font-size: 30px;
  margin-left: 100px;
  line-height: 80px;
  cursor: pointer;
  display: none;
}

// footer container

.footer-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 10px;
  color: $quinary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #3f3e45;
}

.footer-copyright {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, $tertiary-color, $quaternary-color);
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.footer-link-icon {
  fill: $quaternary-color;
  list-style: none;
  margin-right: 30px;
}

.footer-link-icon:hover {
  background: $octonary-color;
  padding:20px 12px 8px 12px;
  border-radius: 50%;
}

